<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
    <link rel="stylesheet" href="css/layout.css" href="css/layout.css">
    <link rel="icon" href="images/chat.svg">
    <script src="socket.io/socket.io.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/base.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="login-form">
            <h3>What's your name?</h3>
            <input type="text" class="txt-user-name">
            <input type="button" value="Register" class="btn-register">
        </div>
        <div class="chat-form">
            <div class="left">
                <div class="box-title">User online</div>
                <div class="box-content"></div>
            </div>
            <div class="right">
                <div class="right-header">
                    <div class="say-hi">Hello <span class="current-user">Teo</span></div>
                    <input type="button" value="Logout" class="btn-logout">
                </div>
                <div class="list-messages">

                </div>
                <div class="typing-notification"></div>
                <div class="input-message">
                    <input type="text" class="txt-message">
                    <input type="button" value="Send message" class="btn-send-message">
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>