<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="icon" href="../images/chat.svg">
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/room.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/room.css">
</head>
<body>
    <div class="layout">
        <div class="header">
            <input autofocus type="text" placeholder="type the room name"  name="" class="txt-room header__txt-room">
            <input type="button" value="Register" class="btn-submit header__btn-register">
        </div>       
        <div class="content">
            <div class="left-room-list">
                <div class="left-room-list__title">List Room</div>
                <ul class="left-room-list__container"></ul>
            </div>
            <div class="right-chat-box">                
                <div class="right-chat-box__room-name"></div>
                <div class="right-chat-box__content"></div>
                <div class="right-chat-box__tool">
                    <input autofocus type="text" placeholder="... "  name="" class="txt-chat-content">
                    <input type="button" value="Send" class="btn-send">
                </div>
            </div>
        </div> 
    </div>    
</body>
</html>