body {
    background-color: #ededed;
}
.wrapper {
    width: 600px;
    margin: auto;
}

.chat-form {
    display: flex;
}

.left {
    width: 30%;
    background-color: #f0f2d0;
    min-height: 300px;
}

.right {
    width: 70%;
    background-color: #d4f9f8;
    min-height: 300px;
    padding: 5px;
}

.box-title, .box-content {
    padding: 10px;
}
.right-header {
    display: flex;
    justify-content: flex-end;
}
.say-hi {
    margin-right: 10px;
}

.list-messages {
    height: 300px;
    background-color: #fcead4;
}
.input-message {
    display: flex;
    justify-content: center;
    align-items: center;
}