body .layout {
    background-color: white;
    margin: 5px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

input[type='text'] {    
    padding: 7px 14px;
    border-radius: 15px;
    background: #ececec;
}

input[type='text']:focus, input[type='button']:focus {
    outline: none;
}

input[type='button'] {
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
}

input[type='button']:hover {
    background-color: #ececec;
}


.header {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    background-color: #E63946;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px;
}

.header .header__txt-room, .header .header__btn-register {
    margin: 0px 5px;
    color: #f1faee;
    font-weight: 100;
}
.header .header__btn-register {
    padding: 8px 12px !important;
}
.header .header__txt-room {
    color:#7e7b7b;
}
.header .header__btn-register:hover {
    color: black;
    transition: color 1s, background-color 1s;
}
.content {
    margin: 0px auto;
    display: flex;    
    width: 100%;
    max-width: 1000px;
}
.content .left-room-list, .content .right-chat-box {
    min-height: 300px;
}
.content .left-room-list {
    width: 30%;
}
.content .right-chat-box { 
    width: 70%;
}

.content .left-room-list {
    background-color: #A8DADC;
    padding: 10px 15px;
}
.content .right-chat-box {
    background-color: #F1FAEE;
}
.left-room-list__title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #1D3557
}
.left-room-list__title::after {
    margin-top: 5px;
    height: 1px;
    background-color: #E63946;
    width: 100px;
    content: " ";
    display: block;
    text-align: cen
}
.left-room-list__container {
    list-style: none;
    padding: 10px 0px;
    font-weight: 400;
}
.left-room-list__item {
    margin: 0 0px 5px;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 5px;
}
.left-room-list__item:hover {
    background-color: #a4f5f8;
    /* color: #F1FAEE;     */
    border-radius: 15px;
    transition:  background-color 2s;
}
.right-chat-box__room-name {
    height: 35px;
    background-color: #f1faee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 10px;
    font-weight: 400;
    color: #1D3557;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: flex-end;
}
.room-name__title {
    margin-right: 10px;
}
.right-chat-box__content {
    height: calc(100% - 70px);
}
.right-chat-box__tool {
    height: 35px;
    /* border-top: 1px solid white; */
    display: flex;
    flex-direction: row  ;    
    justify-content: center;
    align-items: center;
    background-color: #22343f;
}
.txt-chat-content {
    min-width: 200px !important;
    background-color: white !important;
    margin: 0px 5px;
}

.btn-send {
    padding: 8px 12px !important;
    color: #f1faee;
    font-weight: 100 !important;
    margin: 0px 5px;
}
.btn-send:hover {
    background-color: #fff !important;
    color: black;
    transition: color 1s, background-color 1s;
}