<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>        
        const socket = io('http://localhost:3000');
        
        $(document).ready(function(){
            console.log(socket);
            document.title = 'Chat: ' + socket.id;
            $(".btn-emit").click(function(){
                socket.emit("Client-send-data", {name: 'Ha Thang', message: 'Hello server'});
            })
        })
        socket.on('Server-send-data', (data) => {
            $('.value-first').html(data.name);
            $('.value-second').html(data.message);
        })
    </script>
    <link rel="icon" href="images/chat.svg">
    <title></title>
</head>
<body>
    <button class="btn-emit">Emit Message</button>
    <div class="result-area">
        <h2 class="content">Content</h2>
        <div class="content-first">
            <span class="label">Name: </span>
            <span class="value-first "> </span>
        </div>
        <div class="content-second">
            <span class="label">Message: </span>
            <span class="value-second"> </span>
        </div>
        
    </div>
    
</body>
</html>